.elementor-83 .elementor-element.elementor-element-cb504b4>.elementor-container {
    max-width: 1360px;
}

.elementor-83 .elementor-element.elementor-element-cb504b4 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 11px 15px 0px 15px;
}

.elementor-83 .elementor-element.elementor-element-fb29fa9>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-2881565 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-83 .elementor-element.elementor-element-3448410.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-83 .elementor-element.elementor-element-3448410.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-83 .elementor-element.elementor-element-3448410>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-61cfb45 {
    --e-icon-list-icon-size: 20px;
    width: auto;
    max-width: auto;
    z-index: 1;
}

.elementor-83 .elementor-element.elementor-element-61cfb45 .elementor-icon-list-text {
    color: #FFFFFF;
}

.elementor-83 .elementor-element.elementor-element-61cfb45 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-83 .elementor-element.elementor-element-61cfb45 .elementor-icon-list-item>a {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
}

.elementor-83 .elementor-element.elementor-element-89281bf {
    --e-icon-list-icon-size: 20px;
    width: auto;
    max-width: auto;
    z-index: 1;
}

.elementor-83 .elementor-element.elementor-element-89281bf .elementor-icon-list-text {
    color: #FFFFFF;
}

.elementor-83 .elementor-element.elementor-element-89281bf .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-83 .elementor-element.elementor-element-89281bf .elementor-icon-list-item>a {
    font-family: "Roboto", Sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19px;
}

.elementor-83 .elementor-element.elementor-element-89281bf>.elementor-widget-container {
    margin: 0px 0px 0px 10px;
}

.elementor-83 .elementor-element.elementor-element-fb34b34>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-3aa0bcd {
    text-align: right;
}

.elementor-83 .elementor-element.elementor-element-3aa0bcd img {
    width: 15px;
}

.elementor-83 .elementor-element.elementor-element-0e0f066:not(.elementor-motion-effects-element-type-background),
.elementor-83 .elementor-element.elementor-element-0e0f066>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #87575700;
}

.elementor-83 .elementor-element.elementor-element-0e0f066 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 22px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-0e0f066>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-83 .elementor-element.elementor-element-570e03d>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-e161cb0 {
    text-align: left;
    z-index: 3;
}

.elementor-83 .elementor-element.elementor-element-e161cb0 img {
    width: 100%;
}

.elementor-83 .elementor-element.elementor-element-3d4173b {
    text-align: left;
    z-index: 3;
}

.elementor-83 .elementor-element.elementor-element-3d4173b img {
    width: 100%;
}

.elementor-83 .elementor-element.elementor-element-8b1b75c .elementor-icon-wrapper {
    text-align: center;
}

.elementor-83 .elementor-element.elementor-element-8b1b75c .elementor-icon i,
.elementor-83 .elementor-element.elementor-element-8b1b75c .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-83 .elementor-element.elementor-element-d04ea96 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-83 .elementor-element.elementor-element-d04ea96 .elementor-icon i,
.elementor-83 .elementor-element.elementor-element-d04ea96 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-bc-flex-widget .elementor-83 .elementor-element.elementor-element-cb59a27.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-83 .elementor-element.elementor-element-cb59a27.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-83 .elementor-element.elementor-element-cb59a27.elementor-column>.elementor-widget-wrap {
    justify-content: center;
}

.elementor-83 .elementor-element.elementor-element-cb59a27>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-c4a25ab .elementor-menu-toggle {
    margin: 0 auto;
}

.elementor-83 .elementor-element.elementor-element-c4a25ab .elementor-nav-menu .elementor-item {
    font-family: "ChronicleDisplay-SemiBold", Sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.elementor-83 .elementor-element.elementor-element-c4a25ab .elementor-nav-menu--main .elementor-item {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-83 .elementor-element.elementor-element-c4a25ab .elementor-nav-menu--main .elementor-item:hover,
.elementor-83 .elementor-element.elementor-element-c4a25ab .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-83 .elementor-element.elementor-element-c4a25ab .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-83 .elementor-element.elementor-element-c4a25ab .elementor-nav-menu--main .elementor-item:focus {
    color: #FFFFFF;
    fill: #FFFFFF;
}

.elementor-83 .elementor-element.elementor-element-c4a25ab .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-83 .elementor-element.elementor-element-c4a25ab .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #FFFFFF00;
}

.elementor-83 .elementor-element.elementor-element-c4a25ab .e--pointer-framed .elementor-item:before,
.elementor-83 .elementor-element.elementor-element-c4a25ab .e--pointer-framed .elementor-item:after {
    border-color: #FFFFFF00;
}

.elementor-83 .elementor-element.elementor-element-c4a25ab {
    --e-nav-menu-horizontal-menu-item-margin: calc( 0px / 2);
}

.elementor-83 .elementor-element.elementor-element-c4a25ab .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu>li:not(:last-child) {
    margin-bottom: 0px;
}

.elementor-83 .elementor-element.elementor-element-c4a25ab>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-83 .elementor-element.elementor-element-527f0c4.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-83 .elementor-element.elementor-element-527f0c4.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-83 .elementor-element.elementor-element-527f0c4>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-83 .elementor-element.elementor-element-7d4b38a {
    z-index: 3;
}

.elementor-83 .elementor-element.elementor-element-9643458 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-83 .elementor-element.elementor-element-9643458 .elementor-icon {
    font-size: 35px;
}

.elementor-83 .elementor-element.elementor-element-9643458 .elementor-icon i,
.elementor-83 .elementor-element.elementor-element-9643458 .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-83 .elementor-element.elementor-element-9643458>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #000000;
    border-radius: 0px 0px 0px 0px;
}

@media(max-width:767px) {
    .elementor-83 .elementor-element.elementor-element-0e0f066 {
        padding: 18px 0px 0px 0px;
    }
    .elementor-83 .elementor-element.elementor-element-570e03d {
        width: 50%;
    }
    .elementor-83 .elementor-element.elementor-element-8b1b75c {
        width: auto;
        max-width: auto;
    }
    .elementor-83 .elementor-element.elementor-element-d04ea96 {
        width: auto;
        max-width: auto;
    }
    .elementor-83 .elementor-element.elementor-element-cb59a27 {
        width: 50%;
    }
}

@media(min-width:768px) {
    .elementor-83 .elementor-element.elementor-element-3448410 {
        width: 51.322%;
    }
    .elementor-83 .elementor-element.elementor-element-fb34b34 {
        width: 48.646%;
    }
    .elementor-83 .elementor-element.elementor-element-570e03d {
        width: 20%;
    }
    .elementor-83 .elementor-element.elementor-element-cb59a27 {
        width: 55.666%;
    }
    .elementor-83 .elementor-element.elementor-element-527f0c4 {
        width: 24%;
    }
}

/* Start Custom Fonts CSS */

@font-face {
    font-family: 'ChronicleDisplay-SemiBold';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: url('https://montagio.ca/wp-content/uploads/2022/09/ChronicleDisplay-Semi.eot');
    src: url('https://montagio.ca/wp-content/uploads/2022/09/ChronicleDisplay-Semi.eot?#iefix') format('embedded-opentype'), url('https://montagio.ca/wp-content/uploads/2022/09/ChronicleDisplay-Semi.woff2') format('woff2'), url('https://montagio.ca/wp-content/uploads/2022/09/ChronicleDisplay-Semi.woff') format('woff'), url('https://montagio.ca/wp-content/uploads/2022/09/ChronicleDisplay-Semi.ttf') format('truetype'), url('https://montagio.ca/wp-content/uploads/2022/09/ChronicleDisplay-Semi.svg#ChronicleDisplay-SemiBold') format('svg');
}

/* End Custom Fonts CSS */